<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
</head>
<body>
<!--引入topbar-->
<div th:replace="commons/frame::topbar"></div>
<div class="container-fluid">
    <div class="row">
        <!--引入sidebar-->
        <div th:replace="commons/frame::#sidebar(activeUri='users')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form th:action="@{/shopkeeper/user/updateUser}" method="post" onsubmit="return information()">
                <input type="hidden" name="id" th:value="${user.id}">
                <div class="form-group">
                    <label>用户名</label>
                    <input name="username" type="text" class="form-control" th:value="${user.username}">
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input name="password" type="text" class="form-control" th:value="${user.password}">
                </div>
                <div class="form-group">
                    <label>姓名</label>
                    <input name="name" type="text" class="form-control" th:value="${user.name}">
                </div>
                <div class="form-group">
                    <label>性别</label><br/>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="1" th:checked="${user.gender==1}">
                        <label class="form-check-label">男</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="0" th:checked="${user.gender==0}">
                        <label class="form-check-label">女</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="2" th:checked="${user.gender==2}">
                        <label class="form-check-label">隐私</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>年龄</label>
                    <input name="age" type="text" class="form-control" th:value="${user.age}">
                </div>
                <div class="form-group">
                    <label>电话</label>
                    <input name="phone" id="phone" type="text" class="form-control" th:value="${user.phone}">
                </div>
                <div class="form-group">
                    <label>邮箱</label>
                    <input name="email" id="email" type="text" class="form-control" th:value="${user.email}">
                </div>
                <button type="submit" class="btn btn-primary">修改</button>
            </form>
        </main>
    </div>
</div>
<script>
    function information() {
        var phone=document.getElementById("phone").value;
        var email=document.getElementById("email").value;
        var phoneReg = /^[1][3,4,5,7,8][0-9]{9}$/;
        var emailReg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if (!phoneReg.test(phone)&&phone!="") {
            alert("请输入正确的电话号码");
            return false;
        }else if(!emailReg.test(email)&&email!=""){
            alert("请输入正确的邮箱地址");
            return false;
        }
        else {
            return true;
        }
    }
</script>
</body>
</html>